/* Kylie Shapiro */

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root { 
	--yellow: #f6d64a;
	--teal: #55bcd5;
	--purple: #9b26b0;
	--blue: #499bd2;
	--dark-gray: #222222;
	--light-gray: #eaeaea;
	--white: #ffffff;
	--black: #000000;
}


body {
	width: 320px;
	margin: auto;
}

#skip {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip:focus {
position:static;
width:auto;
height:auto;
}

header img {
	display:block;
	width:140px;
	height: 55px;
}
header {
	width:320px;
	background:linear-gradient(to bottom, var(--teal),var(--white));
	display:grid;
	grid-template-columns: 1fr 1fr;
}

header h1 {
	margin-bottom: 0px;
	grid-column: 1/3;
}
header p {
	max-width: 320px;;
	line-height: 25px;
	margin: 20px;
	margin-top:0px;
	grid-column: 1/3;
}


h1 {
	font-family: "Molle", sans-serif;
	font-size: 45px;
	margin: 20px;
	padding: 0px;
}

h2 {
	font-family: "Molle", sans-serif;
	font-size: 35px;
	margin-left: 20px;
}


h3 {
	font-family: "Molle", sans-serif;
	margin: 20px;
}

h4 {
	font-family: "Molle", sans-serif;
}

p, q {
	font-family: "Monsterrat", sans-serif;
	margin-left: 20px;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#intro p {
	line-height: 20px;
	padding-bottom: 10px;
}

#img-grid img {
	width: 100%;
	margin-bottom:5px;
}